<h4>Geography</h4>
<div class="mdl-card__media" *ngIf="geo?.location">
   <div class="mdl-layout-title">Locations:</div>
</div>
<div>
  <p>{{geo?.location}}</p>
</div>

<div class="mdl-card__media" *ngIf="geo?.coordinate">
   <div class="mdl-layout-title">Geographic coordinates:</div>
</div>
<div>
  <p>{{geo?.coordinate}}</p>
</div>

<div class="mdl-card__media" *ngIf="geo?.map">
   <div class="mdl-layout-title">Map references:</div>
</div>
<div>
  <p>{{geo?.map}}</p>
</div>

<div class="mdl-card__media" *ngIf="geo?.are?.total || geo?.area?.land || geo?.area?.water || geo?.area?.position">
   <div class="mdl-layout-title">Area:</div>
</div>
<div>
  <ul>
     <li *ngIf="geo?.area?.total"><b>Total: </b>{{geo?.area?.total}}</li>
     <li *ngIf="geo?.area?.land"><b>Land: </b>{{geo?.area?.land}}</li>
     <li *ngIf="geo?.area?.water"><b>Water: </b>{{geo?.area?.water}}</li>
     <li *ngIf="geo?.area?.position"><b>country comparison to the world: </b>{{geo?.area?.position}}</li>
  </ul>
</div>

<div class="mdl-card__media" *ngIf="geo?.area_com">
   <div class="mdl-layout-title">Area - comparative:</div>
</div>
<div>
  <p>{{geo?.area_com}}</p>
</div>

<div class="mdl-card__media" *ngIf="geo?.boundaries?.total || geo?.boundaries?.countries">
   <div class="mdl-layout-title">Land boundaries:</div>
</div>
<div>
  <p *ngIf="geo?.boundaries?.total"><b>Total: </b>{{geo?.boundaries?.total}}</p>
  <p *ngIf="geo?.boundaries?.countries"><b>border countries: </b>{{geo?.boundaries?.countries}}</p>
</div>

<div class="mdl-card__media" *ngIf="geo?.coastlines">
   <div class="mdl-layout-title">Coastline:</div>
</div>
<div>
  <p>{{geo?.coastlines}}</p>
</div>

<div class="mdl-card__media" *ngIf="geo?.claims">
   <div class="mdl-layout-title">Maritime Claims:</div>
</div>
<div>
  <p>{{geo?.claims}}</p>
</div>

<div class="mdl-card__media" *ngIf="geo?.climate">
   <div class="mdl-layout-title">Climate:</div>
</div>
<div>
  <p>{{geo?.climate}}</p>
</div>

<div class="mdl-card__media" *ngIf="geo?.terrain">
   <div class="mdl-layout-title">Terrain:</div>
</div>
<div>
  <p>{{geo?.terrain}}</p>
</div>

<div class="mdl-card__media" *ngIf="geo?.elevation?.mean || geo?.elevation?.extremes?.lowest || geo?.elevation?.extremes?.highest">
   <div class="mdl-layout-title">Elevation:</div>
</div>
<div>
  <p *ngIf="geo?.elevation?.mean"><b>mean elevation: </b>{{geo?.elevation?.mean}}</p>
  <p *ngIf="geo?.elevation?.extremes?.lowest || geo?.elevation?.extremes?.highest"><b>elevation extremes: </b></p>
  <p *ngIf="geo?.elevation?.extremes?.lowest">Lowest point: {{geo?.elevation?.extremes?.lowest}}</p>
  <p *ngIf="geo?.elevation?.extremes?.highest">highest point: {{geo?.elevation?.extremes?.highest}}</p>
</div>

<div class="mdl-card__media" *ngIf="geo?.resources?.length >0">
   <div class="mdl-layout-title">Natural resources:</div>
</div>
<div>
  <p><span *ngFor="let res of geo?.resources">{{res}}, </span></p>
</div>

<div class="mdl-card__media" *ngIf="geo?.land_use?.agricultural || geo?.land_use?.arable || geo?.land_use?.crops ||
  geo?.land_use?.pasture || geo?.land_use?.forest || geo?.land_use?.others">
   <div class="mdl-layout-title">Land use:</div>
</div>
<div>
  <p *ngIf="geo?.land_use?.agricultural"><b>agricultural land: </b>{{geo?.land_use?.agricultural}}</p>
  <p *ngIf="geo?.land_use?.arable">arable land: {{geo?.land_use?.arable}}</p>
  <p *ngIf="geo?.land_use?.crops">permanent crops: {{geo?.land_use?.crops}}</p>
  <p *ngIf="geo?.land_use?.pasture">permanent pasture: {{geo?.land_use?.pasture}}</p>
  <p *ngIf="geo?.land_use?.forest"><b>forest: </b>{{geo?.land_use?.forest}}</p>
  <p *ngIf="geo?.land_use?.others"><b>others: </b>{{geo?.land_use?.others}}</p>
</div>

<div class="mdl-card__media" *ngIf="geo?.irrigated">
   <div class="mdl-layout-title">Irrigated land:</div>
</div>
<div>
  <p>{{geo?.irrigated}}</p>
</div>

<div class="mdl-card__media" *ngIf="geo?.population">
   <div class="mdl-layout-title">Population - distribution:</div>
</div>
<div>
  <p>{{geo?.population}}</p>
</div>

<div class="mdl-card__media" *ngIf="geo?.hazards">
   <div class="mdl-layout-title">Natural hazards:</div>
</div>
<div>
  <p>{{geo?.hazards}}</p>
</div>

<div class="mdl-card__media" *ngIf="geo?.environment">
   <div class="mdl-layout-title">Environment - current issues:</div>
</div>
<div>
  <p>{{geo?.environment}}</p>
</div>

<div class="mdl-card__media" *ngIf="geo?.agreements?.party || geo?.agreements?.signed">
   <div class="mdl-layout-title">Environment - international agreements:</div>
</div>
<div>
  <p *ngIf="geo?.agreements?.party"><b>party to: </b>{{geo?.agreements?.party}}</p>
  <p *ngIf="geo?.agreements?.signed"><b>signed, but not ratified: </b>{{geo?.agreements?.signed}}</p>
</div>

<div class="mdl-card__media" *ngIf="geo?.notes">
   <div class="mdl-layout-title">Geography - note:</div>
</div>
<div>
  <p>{{geo?.notes}}</p>
</div>
